
<html lang="en">

<head>
    <title>Weather</title>
    
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<style>
  .title{
    background: linear-gradient(to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red);
-webkit-background-clip: text;
color: transparent;

}
  
</style>
<body style="background:url('https://th.bing.com/th/id/R.b78dfdb1f16736f557f9d70fca1b919e?rik=AC6%2bEpt1aKyeXw&riu=http%3a%2f%2f1.bp.blogspot.com%2f-g_pmdfzdo_c%2fUqoUtI_v_QI%2fAAAAAAABApM%2fpRg8zvHKQ7I%2fs1600%2fswimming_through_heaven.gif&ehk=GE8BCtNpq2isubv3f69hkrM8iwtBHIJwpGVpjd21iZU%3d&risl=&pid=ImgRaw&r=0')">
    <section class="hero is-success">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <b>What's the weather like?</b>
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{form.name}}
                            </div>
                            <div class="control">
                              <div class="input-group-btn">
                                <button class="btn btn-default btn-warning" type="submit">Search
                                  <i class="glyphicon glyphicon-search"></i>
                                </button>
                              </div>
                            </div>
                        </div>
                        {% if message %}
                            <div class="notification {{ message_class }}">{{ message }}</div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                   {% for city_weather in weather_data %} 
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{city_weather.icon}}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{city_weather.city}}</span>
                                        <br>
                                        <span class="subtitle">{{city_weather.temperature}}° C</span>
                                        <br> {{city_weather.description}}
                                    </p>
                                </div>
                            </div>
                            <div class="media-right">
                                <a href="{% url 'delete_city' city_weather.city %}">
                                   <button class="delete">Delete</button>
                                </a>
                            </div> 
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>